// @import "./color_schemes/dark";

$link-color: #377fdb;




    // --color-primary: #377fdb;
    // --color-secondary: #93c5fd;
    // --color-body: #fafafa;
    // --color-border: #e5e7eb;
    // --color-light: #f3f4f6;
    // --color-dark: #1f2937;
    // --color-text: #6b7280;
    // --color-text-dark: #111827;
    // --color-text-light: #9ca3af;